<!DOCTYPE html>
<html lang="en" data-ng-app="myModule">
<head>
    <meta charset="UTF-8">
    <title>My Angular App</title>
    <link rel="stylesheet" href="styles.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="script.js"></script>
</head>
<body>
<div data-ng-controller="myController">

    <table>
        <thead>
        <tr>
            <th data-ng-click="sortData('+name')">
                Name <div data-ng-class="getSortClass('+name')"></div>
            </th>
            <th data-ng-click="sortData('dateOfBirth')">
                Date of Birth <div data-ng-class="getSortClass('dateOfBirth')"></div>
            </th>
            <th data-ng-click="sortData('gender')">
                Gender <div data-ng-class="getSortClass('gender')"></div>
            </th>
            <th data-ng-click="sortData('salary')">
                Salary (number filter) <div data-ng-class="getSortClass('salary')"></div>
            </th>
            <th data-ng-click="sortData('salary')">
                Salary (currency filter) <div data-ng-class="getSortClass('salary')"></div>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr data-ng-repeat="employee in employees | orderBy:sortColumn:reverseSort">
            <td>{{ employee.name | uppercase }}</td>
            <td>{{ employee.dateOfBirth | date:"dd/MM/yyyy" }}</td>
            <td>{{ employee.gender | lowercase}}</td>
            <td>{{ employee.salary | number:2 }}</td>
            <td>{{ employee.salary | currency:"£":1 }}</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>